<div id="blog">
    <div class="container">
        <div class="blog-wrap">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 p-5 mb-5 mt-5 text-center">
                    <h1>Blog Coming Soon</h1>
                    <p>Currently my custom blog module is under construction. Stay tuned for updates!
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>
