<div class="container">
    <div class="row">
        <div class="col-md-4 text-center col-sm-12">
            <img class="face-image" src="../../../assets/img/face_shot.jpg" alt="description">
        </div>
        <div class="col-md-7 col-sm-12 p-5">
            <h1>Meet Michael, your All-in-One Web Artisan</h1>
            <br/>
            <p>As a versatile web artisan, I bridge the gap from initial concepts to the final production push for your web needs. 
                My diverse experience spans smaller full-stack projects to leading enterprise-level teams. But no matter the scale, 
                I stay committed to my core values - efficient, fair, and reliable service. I tailor my broad skillset specifically 
                for small businesses and startups, understanding your unique challenges. Whether you need a simple site or a complex 
                web application, I bring experience, commitment and passion to deliver seamless, delightful user-focused solutions to 
                help your business succeed.</p>
        </div>
    </div>
</div>