<div class="container">
<div class="row">
    <div class="parallax col-md-12">
        <div class="row">
            <div class="parallax-text col-md-6 col-sm-12">
                <h1 class="pb-4">Custom Built Websites for Small Business</h1>
                <p>Enjoy a delightful web building service designed for small businesses and startup companies. No noise or jargon, simply creative work customized to fit your needs - fast, affordable and results-driven.</p>
            </div>
        </div>
    </div>
</div>
</div>