<div class="container">
    <div class="row p-5 d-flex">
        <div class="col-12">
            <div class="row pricing gx-1 mb-3 mt-3">
                <div class="col-12">
                    <h1>My Price</h1>
                    <div class="row">
                        <p>
                            My pricing model is designed to adapt to your needs because I understand that each project is unique and requires a different level of involvement. 
                            Instead of offering one-size-fits-all packages, I assess each project's complexity, the time required to deliver it to your satisfaction, and the 
                            certainty of results that you desire. This approach allows for flexibility and consideration of your specific requirements. My pricing formula basically goes like this:
                        </p>
                        <p><b><i>Complexity + Time + Certainty = My Price</i></b></p>
                        <p>
                            Some clients prefer an hourly rate, especially for projects that require ongoing changes or additions over time, while others opt for a flat rate, 
                            which can provide more predictability when budgeting for the project. In each case, I am always transparent about the cost, so there are no surprises.
                            At the heart of my pricing model is the belief that fair pricing should be custom-tailored, just like my services. This way, you pay for what you 
                            need and nothing more. As we discuss your project, I will provide a detailed estimate and explain how I arrived at the final figure. This way, you 
                            can understand the value that my services bring to your project. It's part of my commitment to offering professional, trustworthy, and cost-effective web 
                            solutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>