<div class="container">
    <div class="row p-5 d-flex">
        <div class="col-12">
            <div class="row pricing mb-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3 col-sm-1"></div>
                        <div class="col-9 col-sm-10">
                            <h1 class="text-center mb-5"><fa-icon [icon]="faCommentsDollar"></fa-icon><br/>Let's Talk!</h1>
                            <p class="text-center">
                                I understand that every project is unique and so should be the pricing. That's why I offer custom, flexible, and 
                                creative pricing options that can fit your specific needs and budget. Whether it's a flat fee for a straightforward 
                                project or hourly rates for more intricate work, I've got you covered. And don't sweat the tech stuff once the site's 
                                live – I'm more than happy to discuss flexible ongoing support to keep your website running smoothly. With me, it's 
                                not just about building a website; it's about creating your online presence exactly how you envision it, without 
                                breaking the bank.
                            </p>
                        </div>
                        <div class="col-3 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>